/*============ COUNTDOWN TIMER ===========*/
a#timer {
    pointer-events: none;
    cursor: default;
  }

#timer {
    font-family: var(--body-font);
    font-size: var(--font-medium);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}