/*============ COUNTDOWN TIMER ===========*/
body {
    background-color: #cdffbf;
}

a#timer {
    pointer-events: none;
    cursor: default;
  }

#timer {
    font-family: var(--body-font);
    font-size: var(--font-medium);
}

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

/* For large devices */
@media screen and (min-width: 1024px) {
    html {
        margin-top: 8px;
    }

    body {
        max-width: 1024px;
        margin: auto;
    }
}