/*============ COUNTDOWN TIMER ===========*/
body {
    background-color: #cdffbf;
}

a#timer {
    pointer-events: none;
    cursor: default;
  }

#timer {
    font-family: var(--body-font);
    font-size: var(--font-medium);
}

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}